body {
	padding-top: 4rem;
	padding-bottom: 3rem;
	color: #5a5a5a;
}

.nav-item.active {
	border-bottom: 2px solid #204A87;
}

.logo-title {
	line-height: 40px;
	padding: 0 5px;
}

.navbar-toggler {
	border: none;
}

.navbar-brand {
	padding: 0;
}
.navbar-nav .nav-link {
	padding-top: 0;
	padding-bottom: 0;
	height: 50px;
	line-height: 50px;
}

.carousel { margin-bottom: 4rem; }
.carousel-caption {
	bottom: 3rem;
	z-index: 10;
}

.carousel-item {
	height: 32rem;
	background-color: #777;
}

.carousel-item > img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 32rem;
}

.marketing .col-lg-4 {
	margin-bottom: 1.5rem;
	text-align: center;
}
.marketing h2 {
	font-weight: 400;
}
.marketing .col-lg-4 p {
	margin-right: .75rem;
	margin-left: .75rem;
}

.featurette-divider {
	margin: 5rem 0;
}

.featurette-heading {
	font-weight: 300;
	line-height: 1;
	letter-spacing: -.05rem;
}

@media (min-width: 40em) {
	.carousel-caption p {
		margin-bottom: 1.25rem;
		font-size: 1.25rem;
		line-height: 1.4;
	}

	.featurette-heading {
		font-size: 50px;
	}
}

@media (min-width: 62em) {
	.featurette-heading {
		margin-top: 7rem;
	}
}
@media (max-width: 991.98px) {
	.social-icons {
		display: inline;
	}
	.social-icons li {
		list-style: none;
		display: inline-block;
		width: 15%;
		float: left;
	}
}
